<!DOCTYPE html>
<html>
{% block body %}

    <head>
    <title>DeleteUsers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>

<div class="container">
    <center>
        <h2>Delete the user</h2>
    </center>
</div>
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                    User {{ object.first_name }} is a {{ object.user_type }} who joined on {{ object.join_date }}
            </ol>

            <div class="card mb-3">
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Do you want to delete {{ object.first_name }} ?
                </div>
                <input type="submit" class="btn btn-danger" value="Yes, delete it" />
                <a class="btn btn-success" href="{% url 'allUsers' %}">NO</a>
            </form>
        </div>
    </div>




          </div>
        </div>
      </div>
    </div>
              {% endblock %}
