

<html>


{% block body %}

    <head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

<body>

<div class="container">
    <center>
        <h2>User Management</h2>
    </center>
</div>


                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>User Id</th>
                                <th>First Name</th>
                                <th>User Type</th>
                                <th>Email</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody>

                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{% if user.user_type == 0 %}
                                      <p>Admin</p>
                                    {% elif user.user_type == 1 %}
                                      <p>Adult User</p>
                                    {% else %}
                                    <p>Child User</p>
                                      {% endif %}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>
                <a href="{% url 'viewUser' user.pk %}"><button type="button" class="btn btn-primary"> View</button></a>
                 </td>
                <td>
                <a href="{% url 'editUser' user.pk %}"><button type="button" class="btn btn-warning"> Edit</button></a>
        </td>
        <td>
          <a href="{% url 'deleteUser' user.pk %}"><button type="button" class="btn btn-danger"> Delete</button></a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                            </tbody>
                        </table>


                <div>
                </div>
            <div class="modal-footer">
                    <a  class="btn btn-primary" href="{% url 'createNewUser' %}" style="background-color: green; color: white;">Add User</a>
                    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                    <a class="btn btn-primary" href="{% url 'admins' %}">Admin Panel</a>

               <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>


                          {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                    </div>
                </div>


{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}

</body>

</html>
